name: Publish Dotnet Package (NuGet)

on:
  release:
    types: [created]
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Build .NET project
        run: dotnet build XtermBlazor -c Release

      - name: Create the package
        run: dotnet pack XtermBlazor -c Release

      - name: Publish the package to nuget.org
        run: dotnet nuget push XtermBlazor/bin/Release/*.nupkg --api-key "${{ secrets.NUGET_API_KEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate
